header
    .menu
        align-items: center
        display: flex
        justify-content: start
        margin: 0 150px
        .logotipo
        .navegacion
            margin: auto
            a
                font-size: 16px
                color: $negro
                font-weight: bold
                padding: 5px 10px
                margin: 0 20px
                text-decoration: none
                &:hover
                    text-decoration: underline
                    color: $secundario_1
                &:focus
                    
                    text-decoration: underline
                    olor: $secundario_2
                
        
    




            
       